[submodule "academia-hugo"]
	path = themes/academia-hugo
	url = https://github.com/themefisher/academia-hugo.git
[submodule "themes/starter-academic"]
	path = themes/starter-academic
	url = https://github.com/wowchemy/starter-academic
[submodule "themes/hallo"]
	path = themes/hallo
	url = https://github.com/EmielH/hallo-hugo.git
[submodule "themes/researcher"]
	path = themes/researcher
	url = https://github.com/ojroques/hugo-researcher.git
